* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
input, button {
  font-family: 'Ubuntu Mono', monospace;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}